:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
  --just-green: #018001;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;/*ESTO ES LA CALBE PARA QUE EL CALL TO ACTION QUE TE LLEVA MAS ABAJO GRACIAS AL "<a></>" TENGA UN COMPORTAMIENTO "SMOOTH=LIZO || FLUIDO"*/
}

header {
  position: relative;
  display: flex;/*todos los align-self de abajo son gracias a que el padre tiene display:flex*/
  flex-direction: column;
  justify-content: center;
  width: 100%;/*Aca al contenedor se le da un ancho-----------*/
  min-width: 320px;
  height: 334px;/*Aca al contenedor se le da un alto----------*/
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  align-self: center;
}

.header--title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.header--title-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header--title-container .header--button {
  position: absolute;
  left: calc(50% - 118px);/*left: calc(); calcula en este caso colocar el boton justo al 50% de la pantalla y se le resta unos pixeles para colocarlo en el centro*/
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /*Sombra*/
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  /*Sombra*/
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

.header--button span {
  display: inline-block;/*El span para agregar un icono siempre tiene que tener un display: block o inline-block*/
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url('./assets/icons/down-arrow.svg');/*Esta es la propiedad para colocar una imagen desde el css buscando en las carpetas del proyecto y siempre nesecita un contenedor con un alto y un ancho*/
}



/*Table///////////////////////////////////////////////*/

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  text-align: center;
}

.main-exchange-conteiner--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;/*este margen dice que el top y bottom no va a tener margen y el left y right va a ser un margen automatico igual para que el contenedor se centre*/
}

.main-exchange-container .backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url('./assets/img/Bitcoin.svg');/*Esta es la propiedad para colocar una imagen desde el css buscando en las carpetas del proyecto y siempre nesecita un contenedor con un alto y un ancho*/
  background-size: cover;/*Esto hace que la imagen al crecer no se repita o deforme, trata de crecer o colocar la imagen con la mejor resolucion posible*/
  background-position: center;/*Esto hace que siempre sin importar el tamaño del contenedor o de la imagen, siempre sea visible desde el centro (este centrada)*/
  background-repeat: no-repeat;/*Esto hace que si la img es mas chica que el contenedor no se replique (tratando que se estire) este es el comportamiento por defecto de background-image*/
}

.main-exchange-container h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.main-exchange-container p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}

/*Table///////////////////////////////////////////////*/



.main-currency-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  font-family: "inter", sans-serif;
}

.main-currency-table .currency-table--title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--bitcoin-orange)
}

.currency-table--container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}

.currency-table--container table {
  width: 100%;
  height: 100%;
}

.currency-table--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
}

.currency-table--container .table__top-left {
  border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right {
  border-radius: 0 15px 0 0;
}

.currency-table--container .table__top-right {
  border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-right {
  border-radius: 0 0 15px 0;
}

.currency-table--container .table__bottom-left {
  border-radius: 0 0 0 15px;
}

.currency-table--container .table__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}

.currency-table--container .down {
  display: inline-block;/*El span para agregar un icono siempre tiene que tener un display: block o inline-block*/
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url(./assets/icons/trending-down.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table--container .up {
  display: inline-block;/*El span para agregar un icono siempre tiene que tener un display: block o inline-block*/
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url(./assets/icons/trending-up.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table--date {
  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8px;
}

.currency-table--date p {
  font-size: 1.0rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--warm-black);
}

.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background: var(--warm-black);
}

.product-detail--batata-logo {
  position: absolute;
  width: 40px;
  height: 25px;
  background-image: url('./assets/icons/batata.svg');
  top: -10px;
  left: calc(50% - 20px)
}

.product-detail--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.product-detail--title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.product-detail--title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.product-detail--card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card .icon-card {
  display: block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.clock {
  background-image: url('./assets/icons/clock.svg');
}

.eye {
  background-image: url('./assets/icons/eye.svg');
}

.dollar {
  background-image: url('./assets/icons/dollar-sign.svg');
}

.circle {
  background-image: url('./assets/icons/check-circle.svg');
}

.product-detail--card .product--card-title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
  text-align: left;/*NUEVA PRPIEDAD*/
}

.product--card-body {
  text-align: left;/*NUEVA PRPIEDAD*/
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.bitcoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url('./assets/img/bitcoinbaby2x.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.bitcoin-img-container h2 {
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.main-plans-container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
}

.plans--title {
  width: 100%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 15px;
}

.plans--title h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.plans--title p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}



/* SLIDER///////////////////////////////////////////////// */

.plans-container--slider {
  display: flex;
  height: 316px;
  overflow-x: scroll;/*Overflow es cuando el contenido se desvorda del contenedor padre*/
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;/*sirve para que el contenedor de las cards siempre esten centradas al momento de hacer el scroll en el eje X*/
}

.plans-container--card {
  position: relative;
  scroll-snap-align: center;/*Esto es parte del SLIDER y esta relacionado al "scroll-snap-type: x proximity"*/
  width: 70%;
  min-width: 190px;
  max-width: 300px;;
  height: 250px;
  margin: 50px 10px 0;
  padding: 0 15px;
  background-color: var(--just-white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

/* SLIDER///////////////////////////////////////////////// */



.recommended-vip {
  position: absolute;
  width: 120px;
  height: 31px;
  padding: 6px;
  top: calc(-15px);
  left: calc(50% - 60px);
  font-size: 1.2rem;
  background-color: var(--secondary-blue);
  border-radius: 8px;
  color: var(--just-white);
}

.recommended {
  position: absolute;
  width: 120px;
  height: 31px;
  padding: 6px;
  top: calc(-15px);
  left: calc(50% - 60px);
  font-size: 1.2rem;
  background-color: var(--bitcoin-orange);
  border-radius: 8px;
  color: var(--just-white);
}

.recommended-plus {
  position: absolute;
  width: 120px;
  height: 31px;
  padding: 6px;
  top: calc(-15px);
  left: calc(50% - 60px);
  font-size: 1.2rem;
  background-color: var(--just-green);
  border-radius: 8px;
  color: var(--just-white);
}

.plan-card--title {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: black;
}

.plan-card--price {
  padding: 5px 0;
  font-size: 5.2rem;
  font-weight: bold;
  color: black
}

.plan-card--price span {
  font-size: 1.2rem;
  font-weight: 300;
  vertical-align: 25px;/*NUEVA PRPIEDAD*/
}

.plan-card--saving {
  font-size: 1.2rem;
  color: #757575;
}

.plan-card--calltoaction {
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color: #faf8f7;
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
  font-family: "DM Sans", sans-serif;
}

.plan-card--calltoaction span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('./assets/icons/orange-right-arrow.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: text-top;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: var(--bitcoin-orange);
}

footer .left ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}

.left  li {
  margin: 10px 0;
}

.left a {
  text-decoration: none;
  color: var(--just-white);
}